html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F1FAEE;
}


.form-group {
  margin-bottom: 1rem;
}

.form-check {
  margin-top: 1rem;
}

table {
  background-color: white;
}

.navbar {
  background-color: #457B9D;
}

.navbar-brand {
  color: #000000;
}

.navbar-brand:hover {
  color: #3a3a3a;
}

.btn-danger {
  background-color: #E63946;
}

.btn-primary {
  background-color: #457B9D;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #425981;
}

.btn-success {
  background-color: #457B9D;
}

.btn-success:hover, .btn-success:focus {
  background-color: #425981;
}